services:
  # MySQL Database (통합 DB)
  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: farm2Pot
      MYSQL_PASSWORD: farm2Pot
      MYSQL_DATABASE: farm2Pot
    volumes:
      - mysql-8-data:/var/lib/mysql
    networks:
      - farm2Pot-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Redis Master
  redis-master:
    image: redis:7.0
    container_name: redis-master
    ports:
      - "6379:6379"
    volumes:
      - redis_master_data:/data
    command: >
      redis-server --appendonly yes --save "" --latency-monitor-threshold 100
    networks:
      - farm2Pot-network
    healthcheck:
      test: ["CMD", "redis-cli", "-p", "6379", "PING"]
      interval: 5s
      timeout: 2s
      retries: 10

  # Redis Readonly Replica
  redis-readonly:
    image: redis:7.0
    container_name: redis-readonly
    depends_on:
      redis-master:
        condition: service_healthy
    ports:
      - "6380:6379"
    volumes:
      - redis_readonly_data:/data
    command: >
      redis-server --appendonly yes --appendfsync everysec \
      --replicaof redis-master 6379 --replica-read-only yes \
      --latency-monitor-threshold 100
    networks:
      - farm2Pot-network
    healthcheck:
      test: ["CMD", "redis-cli", "-p", "6379", "PING"]
      interval: 5s
      timeout: 2s
      retries: 10

  # User Service
  user:
    build: 
      context: ./backend
      dockerfile: user/Dockerfile
    container_name: user-service
    ports:
      - "8082:8082"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_SERVER_PORT: 8082
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/farm2Pot
      SPRING_DATASOURCE_USERNAME: farm2Pot
      SPRING_DATASOURCE_PASSWORD: farm2Pot
      SPRING_DATASOURCE_HOST: mysql
      SPRING_FRONTEND_HOST: frontend
      SPRING_REDIS_HOST: redis-master
      SPRING_REDIS_PORT: 6379
      
    depends_on:
      mysql:
        condition: service_healthy
      redis-master:
        condition: service_healthy
    networks:
      - farm2Pot-network
    restart: unless-stopped

  # Subscription Service
  subscription:
    build: 
      context: ./backend
      dockerfile: subscription/Dockerfile
    container_name: subscription-service
    ports:
      - "8083:8083"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/farm2Pot
      SPRING_DATASOURCE_USERNAME: farm2Pot
      SPRING_DATASOURCE_PASSWORD: farm2Pot
      SPRING_DATASOURCE_HOST: mysql
      SPRING_FRONTEND_HOST: frontend
      SPRING_REDIS_HOST: redis-master
      SPRING_REDIS_PORT: 6379
    depends_on:
      mysql:
        condition: service_healthy
      redis-master:
        condition: service_healthy
    networks:
      - farm2Pot-network
    restart: unless-stopped

  # Admin Service
  admin:
    build: 
      context: ./backend
      dockerfile: admin/Dockerfile
    container_name: admin-service
    ports:
      - "8084:8084"   # 충돌 방지
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/farm2Pot
      SPRING_DATASOURCE_USERNAME: farm2Pot
      SPRING_DATASOURCE_PASSWORD: farm2Pot
      SPRING_DATASOURCE_HOST: mysql
      SPRING_FRONTEND_HOST: frontend
      SPRING_REDIS_HOST: redis-master
      SPRING_REDIS_PORT: 6379
    depends_on:
      mysql:
        condition: service_healthy
      redis-master:
        condition: service_healthy
    networks:
      - farm2Pot-network
    restart: unless-stopped

# Frontend (development mode - Vite dev server with hot reload)
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"   # 로컬 호스트와 매핑
    environment:
      HOST: "0.0.0.0"
      PORT: "5173"
    networks:
      - farm2Pot-network
    depends_on:
      user:
        condition: service_started
    restart: unless-stopped


volumes:
  mysql-8-data:
  redis_master_data:
  redis_readonly_data:

networks:
  farm2Pot-network:
    driver: bridge
